@model Web_App_for_Image_Service.Models.ConfigModel
@{
    ViewBag.Title = "Configurations";
}

<div>
    <h3>Settings:</h3>
</div>
<table class="table">
    <tr>
        <th>
            <p>@Html.DisplayNameFor(model => Model.outputDirectory):</p>
        </th>
        <td>
            <p>@Html.DisplayFor(model => Model.outputDirectory)</p>
        </td>
    </tr>
    <tr>
        <th>
            <p>@Html.DisplayNameFor(model => Model.sourceName):</p>
        </th>
        <td>
            <p>@Html.DisplayFor(model => Model.sourceName)</p>
        </td>
    </tr>
    <tr>
        <th>
            <p>@Html.DisplayNameFor(model => Model.logName):</p>
        </th>
        <td>
            <p>@Html.DisplayFor(model => Model.logName)</p>
        </td>
    </tr>
    <tr>
        <th>
            <p>@Html.DisplayNameFor(model => Model.thumbnailSize):</p>
        </th>
        <td>
            <p>@Html.DisplayFor(model => Model.thumbnailSize)</p>
        </td>
    </tr>
</table>
<div>    
    <h3>Storing pictures from:</h3>
    <table>
        @foreach (string handler in Model.handlers)
        {
            <tr>
                <td>
                    <a href="@Url.Action("HandlerConfirmation", "Home", new { handlerPath = handler })" style="color:blue">@handler</a>
                </td>
            </tr>
         }
    </table>
</div>
