@model Web_App_for_Image_Service.Models.ConfigModel
@{
    ViewBag.Title = "Configurations";
}

<div>
    <h3>Settings:</h3>
</div>
<div class="row-md-4">
    <p><strong>@Html.DisplayNameFor(model => Model.outputDirectory):</strong> @Html.DisplayFor(model => Model.outputDirectory)</p>
</div>
<div class="row-md-4">
    <p><strong>@Html.DisplayNameFor(model => Model.sourceName):</strong> @Html.DisplayFor(model => Model.sourceName)</p>
</div>
<div class="row-md-4">
    <p><strong>@Html.DisplayNameFor(model => Model.logName):</strong> @Html.DisplayFor(model => Model.logName)</p>
</div>
<div class="row-md-4">
    <p><strong>@Html.DisplayNameFor(model => Model.thumbnailSize):</strong> @Html.DisplayFor(model => Model.thumbnailSize)</p>
</div>
<div class="row-md-4">
    <h3>Storing pictures from:</h3>
    @foreach (string handler in Model.handlers)
    {
        <a href="@Url.Action("HandlerConfirmation", "Home", new { handlerPath =handler})"
           class="btn btn-primary" role="button" style="background-color:cornflowerblue; color:white">@handler</a>
    }

</div>