@model Web_App_for_Image_Service.Models.SearchResultModel;
@{
    ViewData["Title"] = "Search Result";
}


<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<div><div />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.logList[0].status)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.logList[0].message)
            </th>
        </tr>
        @foreach (var item in Model.logList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.logList[0].status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.logList[0].message)
                </td>
            </tr>
            }
        </table>
</div>

<div></div>
  <p> Filter by:</p>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            Type
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("SearchResults", "Home", new { status = ""})"></a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("SearchResults", "Home", new { status = "INFO"})">INFO</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("SearchResults", "Home", new { status = "WARNING"})">WARNING</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("SearchResults", "Home", new { status = "ERROR"})">ERROR</a></li>
        </ul>
    </div>
